@mixin s {
    @media (min-width:360){
        @content;
    }
}

.primera-seccion-home{
    padding-top: 60px;
    padding-bottom: 30%;
      background-image: url(../assets/images/fondo-sec-1.webp);
      background-position: top left;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      width: 100%;
    .Texto-fondo{
        position: absolute;
        top: 50%;
        left: 25%;
        right: 30%;
        transform: translate(-50%, -50%);
        background-color: rgba(255, 255, 255, 0.5);
        padding: 10px;
        font-size: 62px;
        @include s{
            font-size: 16px;
            top: 33%;
            text-align: center center;
        }
    }
}