@mixin s {
    @media (min-width: 360px) and (max-width:480px){
        @content;
    }
}

@mixin m {
    @media (min-width: 480px) and (max-width:768px){
        @content;
    }
}

@mixin l {
    @media (min-width: 768px) and (max-width:1024px){
        @content;
    }
}

@mixin xl {
    @media (min-width: 1024px) and (max-width:1440px){
        @content;
    }
}

.seo{
    background-image: url(../assets/images/Fondo-DW.webp);
    background-position: center top ;
    background-attachment: fixed;
    background-repeat: no-repeat;
      padding: 50px 0;
}

.seccion-1-seo {
    background-color: #6a6363;
    padding: 50px 0;
    background-image: url(../assets/images/Fondo-DW.webp);
	background-position: center top ;
	background-attachment: fixed;
	background-repeat: no-repeat;
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 1200px;
        margin: 0 auto;
        padding: 50px;
        background-color:#9F70FD;
        border-radius: 10px;
        .texto-informativo {
            text-align: center;
            p {
                font-size: 1.2em;
                max-width: 600px;
                margin: 0 auto 40px;
            }
            h1{
                color: black;
            }
        }  
    }
    @include s{
        
        align-items: center;
            .video iframe{
              height: 145px;
              width: 250px;
            }
           
    }

    @include m{
            
            align-items: center;
            .video iframe{
               height: 245px;
               width: 350px;
            }
    }

     @include l{
            align-items: center;
             .video iframe{
               height: 245px;
               width: 350px;
            }
    }
}


  .tarjetas-seo{
    display: flex;
    justify-content: space-around;
    height: 500px;
    align-items: center;
       .tarjeta-2{
        background-color: #FDBF60;
        border-radius: 10px;
        padding: 20px;
        width: 500px;
        height: 470px;
        border: 2px solid black;
            h3{
            font-size: 16px;
            color: black;
            }
            h2{
            font-size: 32px;
            color: black;
            }

            li{
                padding: 10px;
            }

            h4{
                text-align: center;
                font-size: 40px;
            }
      }
      @include s{
        flex-direction: column;
            height: 1300px;
            .tarjeta-2{
                width: 300px;
                font-size: 16px;
                height: 600px;
            }
      }

      @include m{
        flex-direction: column;
            height: 1200px;
            .tarjeta-2{
                width: 390px;
                font-size: 16px;
                height: 550px;
            }
      }

      @include l{
        flex-direction: column;
            height: 1000px;
            .tarjeta-2{
                width: 500px;
                font-size: 16px;
                height: 470px;
            }
      }
  }